.header {
  margin: 0 auto;
  width: fit-content;
  padding: 1rem;
  background: rgb(116, 116, 116);
  background: linear-gradient(
    0deg,
    rgb(72, 73, 73) 0%,
    rgb(148, 148, 148) 51%,
    rgb(66, 69, 74) 97%
  );
  border-radius: 2rem;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.75);
}
.header__title {
  padding: 1rem;
  text-align: center;
}

.main {
  /* border: 1px solid rgb(76, 255, 6); */
  margin: 1rem auto;
  padding: 1rem;
}
